SECRET_KEY=django-insecure-^i-c1zc8t=$r$2cfg1_3xhpp%juhsd@o&pia2avplso8m9o^tx
DEBUG=False
DB_ENGINE=django.db.backends.postgresql
DB_NAME=postgres
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
DB_HOST=db
DB_PORT=5432
